# compiled objects
*.o

# compiled graphics
*.1bpp
*.2bpp
*.pic

# compiled roms
*.gbc
*.gb
*.patch

# rgbds extras
*.map
*.sym

# tool binaries
*.exe

# RGBDS binaries / archives (place in project or PATH when building)
# rgbasm.exe rgblink.exe rgbfix.exe rgbgfx.exe
*.zip
*.dll

# precompiled python
*.pyc
*$py.class

# save game files
*.sgm
*.sav
*.rtc
*.sn*
*.sa*
*.sg1
